#sidebar {
  background: #4DAC26;
}

#postamble {
  background:#018571;
  border-top:solid 10px #4DAC26;
}

.title {
  text-align: left;
  color: #018571;
}

.subtitle {
  color: #B8E186;
}

h1, h2, h3, h4, h5, h6, legend {
  color: #B8E186;
}

#content h2 {
    background-color: #018571;
}

#content h3 {
    background-color: #018571;
}